html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    color: #F9F6EE;
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: #57bc79;
}

.article {
    display: block;
    margin: auto;
    margin-top: 2em;
    max-width: 24em;
}

.container {
    display: block;
    margin: auto;
    max-width: 800px;
    background-color: #212121;
    margin-bottom: 1em;
}

.content-block {
    border-width: 3px;
    border-style: outset;
    border-color: #F9F6EE;
    border-radius: 16px;
    padding: 10px;
}

.content-span {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2em;
    max-width: 800px;
}

.video-span {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

h2 {
    font-size: 12pt;
}

h3 {
    font-size: 18pt;
    margin-bottom: 0px;
}

h5 {
    font-size: 14pt;
    font-style: bold;
}

hr {
    max-width: 50em;
}

em {
    font-size: 10pt;
    opacity: 0.5;
}

@counter-style circled-digits {
    system: fixed;
    symbols: 🔗 👟 🎧 👾;
    suffix: "  ";
}

ul {
    list-style: circled-digits;
}

.logos-img {
    border-radius: 0%;
    max-width: 2em;
    margin-bottom: 1em;
}

.linkedin {
    background-color:#ffffff;
    border-radius: 5px; 
}

.logo-span {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2em;
    max-width: 600px;
}

.profile-span {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 2em;
    max-width: 600px;
}

.profile {
    border-radius: 75px;
    display: block;
    margin: auto;
    max-width: 12em;   
}